<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="colors.css">
</head>
<body>
<h1>Главная</h1>
<div class="container-sm"><ul>
<li><button type="button" class="btn btn-outline-primary"><a class="link-dark" href=http://127.0.0.1:8000/1><h2>Овен</h2></a><button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-info" href=http://127.0.0.1:8000/2><h2>Телец</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-warning" href=http://127.0.0.1:8000/3><h2>Близнецы</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-success" href=http://127.0.0.1:8000/4><h2>Рак</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-warning" href=http://127.0.0.1:8000/5><h2>Лев</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-secondary" href=http://127.0.0.1:8000/6><h2>Дева</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-info" href=http://127.0.0.1:8000/7><h2>Весы</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-danger" href=http://127.0.0.1:8000/8><h2>Скорпион</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-dark" href=http://127.0.0.1:8000/9><h2>Змееносец</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-warning" href=http://127.0.0.1:8000/10><h2>Стрелец</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-info" href=http://127.0.0.1:8000/11><h2>Козерог</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-danger" href=http://127.0.0.1:8000/12><h2>Водолей</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-info" href=http://127.0.0.1:8000/13><h2>Рыбы</h2></a></button></li>
<li><button type="button" class="btn btn-outline-primary"><a class="link-dark" href='https://www.youtube.com/watch?v=zz7IIN_MAN4&ab_channel=UncleKnuckle'><h2>Капибара</h2></a></button></li>
</ul>
</div>
</body>
</html>